body {
    background: black;
    color: white
}

#yt-masthead-container {
    background: #252525;
    border-bottom: 1px solid #3a3a3a;
}
#masthead-appbar {
    background-color: #252525;
    border-bottom: 2px solid #cc181e;

}
.yt-card {
    background: #333;
}
.yt-lockup {
    color: #fff;
}
.yt-badge {
    background: white;
}
.yt-lockup-title a, .yt-lockup:hover a, .yt-lockup:hover .yt-lockup-meta a, .yt-lockup:hover .yt-lockup-description a {
    color: white;
}
a {
    background: transparent !important;
    color: white

}
a:hover {
    color: #ddd;
}
.yt-lockup .yt-lockup-meta a, .yt-lockup .yt-lockup-description a, .yt-lockup .yt-lockup-byline a {
    color:#2e2e2e;
}
.yt-lockup .yt-lockup-meta a, .yt-lockup .yt-lockup-description a, .yt-lockup .yt-lockup-byline a:hover {
    color:#000;
}

.branded-page-module-title a:visited, .branded-page-module-title a {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
    width: 100%;
    padding-bottom: -1px;
}
#watch-headline-title {
    color: #b5b5b5;
}
.video-list .video-list-item .title {
    color: #F44336;
    font-size: 14px;
    font-weight: 500;
}
#watch8-action-buttons .yt-uix-button, #watch8-action-buttons .yt-uix-button:hover, #action-panel-dismiss, #action-panel-dismiss:hover {
    color: white;
}
#action-panel-details a {
    color: #e74235;
}
#action-panel-details a:hover {
    color: #d03427;
}
.comment-section-header-renderer {
    padding: 0 0 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #dedede;
}
.comment-renderer-reply {
    color: #fff;

}
#watch-header .yt-user-info a {
    color: #dcdcdc;
}
#watch-description {
    color: #d8d8d8;
}
.comment-simplebox {
    background-color: transparent;
}

.yt-uix-clickcard-card.yt-masthead-multilogin .yt-masthead-picker-header, .yt-uix-clickcard-card.yt-masthead-multilogin .yt-masthead-multilogin-users-header {
    color: #383838;
}
.comment-simplebox-text:focus {
    outline: none;
}
.yt-uix-clickcard-card.yt-masthead-multilogin .yt-uix-card-body-arrow {
    border-bottom-color: #fff;
}
#masthead-search-terms {
    background-color: #1d1d1d;
}

#masthead-search-terms input {
    color: #f1f1f1;
}

#watch7-sidebar .video-list-item a:visited .title, #watch7-sidebar .video-list-item a:visited .title .yt-deemphasized-text {
    color: #717171;
}
a.yt-uix-button-epic-nav-item.selected, a.yt-uix-button-epic-nav-item.yt-uix-button-toggled, button.yt-uix-button-epic-nav-item.selected, button.yt-uix-button-epic-nav-item.yt-uix-button-toggled, .epic-nav-item.selected, .epic-nav-item.yt-uix-button-toggled, .epic-nav-item-heading {
    color: #F44336;
    font-weight: 500;
}
#appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item {
    color: #e0e0e0;
}
.webkit .yt-ui-ellipsis-2 {
    -webkit-line-clamp: 2;
    background: transparent;
}
.yt-lockup-byline a:hover {
    color: #e5e5e5;
}
.yt-lockup .yt-lockup-meta a, .yt-lockup .yt-lockup-description a, .yt-lockup .yt-lockup-byline a {
    color: #d4d4d4;
}
.yt-lockup .yt-lockup-meta a:hover, .yt-lockup .yt-lockup-description a:hover, .yt-lockup .yt-lockup-byline a:hover {
    color: #d4d4d4;
}
.branded-page-module-title a:visited, .branded-page-module-title a {
    color: #cacaca;
}

/* Creator Studio */
#creator-sidebar .creator-sidebar-branding h1 {
    color: #d4d4d4;
}

#creator-sidebar .creator-sidebar-section a {
    display: block;
    line-height: 24px;
    font-size: 11px;
    color: #d6d6d6;
}

#creator-sidebar .creator-sidebar-section a:hover {
    color: white;
} 
label.single-option {
    display: block;
    color: black;
}
label {
    color: black;
}